.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.inner {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  /* gap: 1rem; */
}

.inner,
.start {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.content {
  flex: 1;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary);
  border-bottom: 5px double var(--primary);
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: var(--black);
  line-height: 1.5;
  margin: 0.25rem 0;
  color: var(--primary);
}

.info {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary);
  margin-left: 2px;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  left: 0;
  background-color: var(--white);
  border: solid 1px #ccc;
  padding: 0.5rem;
  width: 100%;
  z-index: 100;
}

.tooltip p {
  font-size: 0.8rem;
  color: var(--primary);
  line-height: 1.5;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}

.spinner {
  position: absolute;
  width: 80px;
  height: 80px;
  border-top: 5px solid var(--primary);
  border-radius: 50%;
  animation: spinner 1s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .inner {
    width: 100%;
    margin: none;
  }
}

@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
  }
}
