@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;600;700&display=swap');
:root {
  --primary: #588658;
  --secondary: #ebeee7;
  --black: #000000;
  --white: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--secondary, '#ebeee7');
}
